@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

.subtle-glow {
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.1);
}

.title-glow {
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
}